<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- Put all CSS links here --}}
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    {{!-- Put all JS scripts --}}
  </head>
  <body>
    <nav>
        <ul>
          {{!-- For sign up --}}
          <li><a href="/registration" style="text-decoration:none">Sign Up</a></li>
          {{!-- For log in --}}
          <li><a href="/login" style="text-decoration:none">Log In</a></li>
          <li><a href="/" style="text-decoration:none">Home</a></li>
          {{#if logged}}
          {{else}}
          <li><a href="/about" style="text-decoration:none">About Us</a></li>
          {{/if}}
        </ul>
    </nav>

    {{{body}}}
    
  </body>
</html>
