<form action="/users/login" method="POST" enctype="application/x-www-form-urlencoded">
    <label for="username">Username</label>
    <input type="text" class="username" id="username" placeholder="Enter e-mail" required>
    <label for="password">Password</label>
    <input type="text" class="password" id="password" placeholder="Enter password" required>

    <input class="submit_button" type="submit" id="login_submit" value="login" required>
</form>