<form action="/users/login" method="POST" enctype="application/x-www-form-urlencoded">
    <label for="username">Username</label>
    <input type="text" class="hover_card" id="username" name="username" placeholder="Enter username" required>

    <label for="password">Password</label>
    <input type="password" class="hover_card" id="password" name="password" placeholder="Enter password" required>
    
    <input type="submit" class="hover_card" id="login_submit" value="Submit">
</form>