<form action="/users/registration" method="POST" enctype="application/x-www-form-urlencoded">
    <label for="first_name">First Name</label>
    <input type="text" class="first_name" id="first_name" placeholder="Enter first name" required>
    
    <label for="last_name">Last Name</label>
    <input type="text" class="last_name" id="last_name" placeholder="Enter last name" required>
    
    <label for="address">Address</label>
    <input type="text" class="address" id="address" placeholder="Enter address" required>
    
    <label for="email">Email</label>
    <input type="text" class="email" id="email" placeholder="Enter e-mail" required>

    <label for="email">Username</label>
    <input type="text" class="email" id="username" placeholder="Enter username" required>

    <label for="password">Password</label>
    <input type="text" class="password" id="password" placeholder="Enter password" required>
    
    <label for="confirm_password">Confirm Password</label>
    <input type="text" class="confirm_password" id="confirm_password" placeholder="Enter confirm password" required>

    <input class="submit_button" type="submit" id="registration_submit" value="login" required>
</form>